{% extends "to_do_lists/base.html" %}

{%block content%}

<div class='row col-12 justify-content-center'>
    <form method='post' class="shadow p-3 mt-5 col-12 col-md-8 col-lg-4"> <!--estudar isso dps-->

        {% csrf_token %}
        {%if form.errors %}
            {%for field, errors in form.errors.items %}
                {%for error in errors%}
                    <span class="text-danger">* {{error}}</span></br>
                {%endfor%}
            {%endfor%}
        {%endif%}
        
        <div class='mb-3'>
            <label for="id_register_username" class='form-label'>Nome de usuário</label>
            {{form.username}}
        </div>
        <div class='mb-3'>
            <label for="id_register_passpassword1" class='form-label'>Senha</label>
            {{form.password1}}
        </div>
        <div class='mb-3'>
            <label for="id_register_passpassword2" class='form-label'>Repita a senha</label>
            {{form.password2}}
        </div>
        <button type='submit' class='form-control btn btn-success'>Registrar</button>



    </form>
</div>

{% endblock content%}